<!--THIS IS THE SITTER REGISTRATION FORM-->
{% extends "my_daycare/base.html" %}
{% load static %}
{% block body %}
    <h3 class="text-center m-4">Add Sitter</h3>
    {% if success %}
        <div class = "alert alert-success" role="alert">
            The New Sitter been added successfully.
            <a href="" class="alert-link">Go to Home Page.</a>
        </div>
    {% else %}
    <div class="row justify-content-center">
      <div class="col-6">
          <div class="card border-light mb-3">
              <div class="card-header">
                  <i class="fa-solid fa-address-card fa-lg"></i>Sitter Registration
              </div>
              <div class="card-body">
                  <form action="{% url 'sitter_reg' %}" method="POST">
                      {% csrf_token %}
                      {{ form1.as_p}}
                      <button type="submit"class="btn btn-primary">Add</button>
                      <a href="/index/"class="btn btn-secondary">Cancel</a>

                  </form>
              </div>
          </div>   
      </div>
  </div>  
    {% endif %}    
{% endblock %}